python-dotenv
bs4
langchain_core
langchain
langchain_community
langsmith==0.1.93
langchain_google_genai
langchain_openai
langchain_text_splitters
langchain_groq
sentence-transformers
FAISS-cpu==1.7.4
langchainhub
youtube-transcript-api
pytube
llama_index
chromadb
FlashRank
rank_bm25
lark
langgraph
pyppeteer
graphviz
agentops
openpyxl
datasets
peft
trl
